body {
    background: #DADADA;
    margin: auto;
    margin-top: 200px;
}



.double-grid {


    padding: 25px;
    width: 80%;

    margin: auto;
    min-width: px;
    min-height: 200px;


    border-radius: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.left-side {
    width: 60%;
    min-height: 200px;
    min-width: 385px;
    max-height: 226px;
    background: #FFF;
    margin-right: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.right-side {
    width: 30%;
    min-width: 200px;
    min-height: 200px;

    background: #FFF;

    border-radius: 10px;

}



.add-line {
    padding: 10px;
    padding-bottom: 5px;
    height: 55px;
    border-bottom: 2px grey solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-line input {
    width: 75%;
    height: 20px;
    padding: 10px;

    font-size: 15px;
    border-radius: 10px 0 0 10px;
}

.add-line button {
    display: block;
    height: 44px;
    width: 25%;
    font: serif;
    font-weight: 700;
    font-size: 17px;
    border-radius: 0 10px 10px 0;
}


.raw-of-offer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px grey solid;
    min-width: 50px;
    font-size: 10px;
    border-radius: 3px;
    height: 50px;

}


.name {
    height: 25px;
    width: 20%;
    float: left;
    font-size: 20px;
    font: serif;
    margin: auto;
    text-align: start;
}

.quantity {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 30%;

    margin: auto;
}

.minus {
    height: 28px;
    width: 28px;
    float: left;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    background: salmon;
}

.number {
    height: 28px;
    width: 28px;
    float: left;
    padding-top: 4px;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    text-align: center;
    background: grey;


}

.plus {
    height: 28px;
    width: 28px;
    float: left;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    background: GreenYellow;
}

.bought-remove {
    margin: auto;
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bought {
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font: serif;
    margin-right: 10px;
}

.remove {
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font: serif;
    background: Crimson;
}









.left-in-stack {
    padding: 10px;
    margin: auto;
    margin-left: 5px;
    text-align: start;
}

.area-for-left {

    min-height: 40px;
    height: auto;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px grey solid;
    border-top: 2px grey solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.added {
    height: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;

    background: Silver;
}

.name-of-added {
    background: Silver;
    padding: 5px;
    border-radius: 5px 5px 0 5px;
}







.bought-title {
    padding: 10px;
    margin: auto;
    margin-left: 5px;
    text-align: start;
}

.area-for-bought {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
    height: auto;
    width: 100%;


   
    border-top: 2px grey solid;
    display: flex;
    flex-wrap: wrap;
}

.bought-goods {
    height: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;

    background: Silver;
}





.quantity-of-added {
    height: 20px;
    width: 20px;
    background: Plum;
    margin: 5px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}
