body {
    background: #DADADA;

    margin: auto;
    margin-top: 20%;
}
[data-tooltip] {
  position: relative;
  z-index: 10;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 0px);
  pointer-events: none;
  transition: 0.5s;
  will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 10px 18px;
  min-width: 50px;
  max-width: 300px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  background-color: rgba(59, 72, 80, 0.9);
  background-image: linear-gradient(30deg,
    rgba(59, 72, 80, 0.44),
    rgba(59, 68, 75, 0.44),
    rgba(60, 82, 88, 0.44));
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
  text-align: center;
  white-space: pre-wrap;
  transform: translate(-50%, 20px) scale(0.5);
}

/* Tooltip arrow */
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0.2s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin : bottom;   /* Orientation setting for the
                            slide-down effect */
  transform:  translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}
/* Slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}



/* Badge */ 
.badge {
    top: 92%;
    left: 10%;
    width: 11%;
    height: 18%;
    min-width: 113px;
    position: fixed;
    background: purple;
    transition: 2s ease;
    color: aliceblue;
    border-radius: 15px 15px 0 0;
}

.text {
    width: 75%;
    margin: auto;
    height: 10%;
    
    margin-top: 12%;
    margin-bottom: 23%;
    font-size: 20px;
    text-align: center;
}

.created-by {
    width: 80%;
    margin: auto;
}

.badge:hover {
    top: 82%;
    transition: all 1s ease;
    background-color: blue;
}
.badge:hover::backdrop {
    transition: all 2s ease;
}


/* Container with two parts*/
.double-grid {


    padding: 25px;
    width: 75%;

    margin: auto;
    margin-bottom: 50%;
    
    min-height: 200px;

    border-radius: 10px;

    display: flex;
    flex-direction: row;
   

}

.left-side {
    width: 60%;
    min-height: 200px;
    min-width: 385px;
    max-height: 226px;
    background: #FFF;
    margin-right: 40px;
    margin-bottom: 30px;
    border-radius: 10px;

}

.right-side {
    width: 30%;
    
    min-height: 200px;
    min-width: 200px;
    margin-right: 40px;
    background: #FFF;

    border-radius: 10px;

}


@media(max-width: 770px){
    .double-grid{
        flex-wrap: wrap;
    }
    .left-side{
        width: 100%;
         min-width: 385px;
        margin-right: 15px;
    }
    .right-side{
        width: 100%;
        min-width: 385px;
         margin-right: 15px;
    }
}

@media print {
    .badge{
        color: black;
        height: auto;
        border: 1px black solid;
    }
    .text{
        display: none;
    }
    .created-by{
        content: "";
    }
    
   .double-grid {
     width: 75%;
}
   .left-side{
        width: 58%;
         min-width: 100px;
        margin-right: 15px;
    }
    .right-side{
        width: 35%;
        min-width: 50px;
         margin-right: 15px;
    }
}



.add-line {
    padding: 10px;
    padding-bottom: 5px;
    height: 55px;
    border-bottom: 2px grey solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



}

.add-line input {
    width: 75%;
    height: 20px;
    padding: 10px;

    font-size: 15px;
    border-radius: 10px 0 0 10px;
}

.add-line button {
    display: block;
    height: 44px;
    width: 25%;
    font: serif;
    font-weight: 700;
    font-size: 17px;
    border-radius: 0 10px 10px 0;

    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */

}



.raw-of-offer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 2px grey solid;
    min-width: 50px;
    font-size: 10px;
    border-radius: 3px;
    height: 50px;

}


.name {
    height: 25px;
    width: 20%;
    float: left;
    font-size: 20px;
    font: serif;
    margin: auto;
    margin-left: 10px;
    text-align: start;
}

.quantity {
    height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35%;

    margin: auto;
}

.minus {
    height: 28px;
    width: 28px;
    float: left;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    background: salmon;
}

.number {
    height: 28px;
    width: 28px;
    float: left;
    padding-top: 4px;
    border-radius: 7px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    text-align: center;
    background: grey;


}

.plus {
    height: 28px;
    width: 28px;
    float: left;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
    background: GreenYellow;
}

.bought-remove {
    margin: auto;
    margin-right: 10px;
    font-size: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bought {
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font: serif;
    margin-right: 10px;
}

.remove {
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    font: serif;
    background: Crimson;
}









.left-in-stack {
    padding: 10px;
    margin: auto;
    margin-left: 5px;
    text-align: start;
}

.area-for-left {

    min-height: 40px;
    height: auto;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px grey solid;
    border-top: 2px grey solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.added {
    height: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;

    background: Silver;
}

.name-of-added {
    background: Silver;
    padding: 5px;
    border-radius: 5px 5px 0 5px;
}







.bought-title {
    padding: 10px;
    margin: auto;
    margin-left: 5px;
    text-align: start;
}

.area-for-bought {
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 40px;
    height: auto;
    width: 100%;



    border-top: 2px grey solid;
    display: flex;
    flex-wrap: wrap;
}

.bought-goods {
    height: 30px;
    margin-bottom: 7px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 5px;
    border-radius: 5px 5px 5px 5px;

    background: Silver;
}





.quantity-of-added {
    height: 20px;
    width: 20px;
    background: Plum;
    margin: 5px;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
}
